header#header.header.light-background.d-flex.flex-column

  .profile-img
    = image_tag 'nkt.jpg', class: 'img img-fluid rounded-circle', alt: 'Tian'

  = link_to root_path, class: 'a logo d-flex align-items-center justify-content-center' do
    / img src='assets/img/logo.png' alt=''
    h1.sitename NKT

  nav#navmenu.navmenu
    ul
      li
        = link_to items_path('drink'), class: 'active' do
          i.bi.bi-cup-straw.navicon
          | Nước uống
      li
        = link_to items_path('food'), class: 'active' do
          i.bi.bi-fork-knife.navicon
          | Thức ăn
      li
        = link_to items_path('topping'), class: 'active' do
          i.bi.bi-egg-fried.navicon
          | Topping
