header#header.header.light-background.d-flex.flex-column

  .profile-img
    = image_tag 'nkt.jpg', class: 'img img-fluid rounded-circle', alt: 'Tian'

  = link_to root_path, class: 'a logo d-flex align-items-center justify-content-center' do
    / img src='assets/img/logo.png' alt=''
    h1.sitename NKT

  nav#navmenu.navmenu
    ul
      li
        a.active href='#hero'
          i.bi.bi-house.navicon
          | Home
