/ Hero Section
section#hero.hero.section.light-background
  .item-list
    .item
      .title-price
        .title Sting dâu
        .price 13.000đ
      = image_tag 'sting.webp'
    .item
      .title-price
        .title Sting dâu
        .price 13.000đ
      = image_tag 'sting.webp'
    .item
      .title-price
        .title Sting dâu
        .price 13.000đ
      = image_tag 'sting.webp'
    .item
      .title-price
        .title Sting dâu
        .price 13.000đ
      = image_tag 'sting.webp'
    .item
      .title-price
        .title Sting dâu
        .price 13.000đ
      = image_tag 'sting.webp'
    .item
      .title-price
        .title Sting dâu
        .price 13.000đ
      = image_tag 'sting.webp'
    .item
      .title-price
        .title Sting dâu
        .price 13.000đ
      = image_tag 'sting.webp'
    .item
      .title-price
        .title Sting dâu
        .price 13.000đ
      = image_tag 'sting.webp'
