#edit-item-modal.add-items-modal
  = form_with model: @item, url: items_update_path(@item.id), method: :patch, data: { controller: 'items' }, class: 'add-items-form' do |f|
    .add-img
      .img-box data-action="click->items#triggerFile" data-items-target="imgBox"
        = f.file_field :image, class: 'd-none', data: { items_target: 'fileInput', action: 'change->items#previewImage' }
        img src="" alt="Preview" class="img-preview d-none" data-items-target="imgPreview"
        = image_tag item.image, id: 'current-img-preview' if @item.image.attached?
    .add-content
      #current-name-icon-hidden.item-edit-hidden.bi.bi-pencil.navicon
      #current-name-name.item-name = item.name
      #current-name-icon.item-edit.bi.bi-pencil.navicon data-action="click->items#editItem" data-items-input-param="name"
      = f.text_field :name, placeholder: 'Tên', class: 'd-none', id: 'current-name-input'
    .add-content
      #current-cost-icon-hidden.item-edit-hidden.bi.bi-pencil.navicon
      #current-cost-name.item-name = "Giá nhập: #{number_with_delimiter(item.cost, delimiter: ',')}"
      #current-cost-icon.item-edit.bi.bi-pencil.navicon data-action="click->items#editItem" data-items-input-param="cost"
      = f.number_field :cost, placeholder: 'Giá nhập', class: 'd-none', id: 'current-cost-input'
    .add-content
      #current-price-icon-hidden.item-edit-hidden.bi.bi-pencil.navicon
      #current-price-name.item-name = "Giá bán: #{number_with_delimiter(item.price, delimiter: ',')}"
      #current-price-icon.item-edit.bi.bi-pencil.navicon data-action="click->items#editItem" data-items-input-param="price"
      = f.number_field :price, placeholder: 'Giá bán', class: 'd-none', id: 'current-price-input'
    .submit-btns
      .add-submit
        = link_to 'Xóa', '#', data: { action: 'click->items#delete', id: @item.id }, class: 'btn-submit'
      .add-submit
        = f.submit 'Sửa', class: 'btn-submit'
