/ Hero Section
section#hero.hero.section.light-background data-controller='items' class=('lock-page' if current_user.blank?)
  .modal-overlay class=('d-none' unless current_user.blank?)
    = render 'sessions/new' if current_user.blank?
  - if page_items? && admin?
    .btn-list
      .add-btn data-action='click->items#addItem' data-items-category-param=params[:category]
        .content.bi.bi-plus-circle-fill.navicon = '   Thêm hàng mới'
  = render 'items/item_list', items: @items
  .sell-list.d-none
    .sell-btn data-action='click->items#sellConfirm'
      .content Bán
