.modal-overlay {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000000ab;
  display: flex;
  justify-content: center;
  align-items: center;
  .add-items-modal {
    border-radius: 8px;
    background-color: white;
    z-index: 2;
    height: 60%;
    width: 40%;
    .add-items-form {
      height: 100%;
      .add-img {
        height: 40%;
        padding: 20px 140px;
        .img-box {
          border: 2px dashed #ddd;
          border-radius: 8px;
          height: 100%;
          width: 100%;
          img {
            height: 100%;
            display: block;
            width: 100%;
            object-fit: cover;
            border-radius: 8px;
          }
          .text {
            height: 100%;
            text-align: center;
            align-content: center;
          }
          .text:hover {
            cursor: pointer;
          }
        }
      }
      .with-two {
        padding: 10px 0 !important;
      }
      .add-content {
        display: flex;
        height: 15%;
        padding: 10px 100px;
        .slash {
          align-content: center;
          font-size: 30px;
        }
        .with-two {
          margin: 0 10px;
        }
        input {
          text-align: center;
          height: 100%;
          width: 100%;
        }
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
      .add-submit {
        padding: 10px 130px 20px;
        height: 15%;
        .btn-submit {
          border: none;
          height: 100%;
          width: 100%;
          background-color: pink;
          border-radius: 8px;
          text-align: center;
          align-content: center;
        }
        .btn-submit:hover {
          cursor: pointer;
          transform: scale(1.02);
        }
      }
    }

  }
}
