.lock-page {
  pointer-events: none;
}

.unlock-page {
  pointer-events: auto;
}

.new-session-modal {
  position: relative;
  bottom: 1300px;
  border-radius: 8px;
  background-color: white;
  z-index: 2;
  height: 300px;
  width: 40%;
  .new-session-form {
    height: 100%;
    .input-container {
      display: flex;
      height: 30%;
      padding: 20px 40px 0;
      input {
        text-align: center;
        height: 100%;
        width: 100%;
      }
    }
    .submit-container {
      padding: 20px 80px 20px;
      height: 40%;
      .session-submit-btn {
        border: none;
        height: 100%;
        width: 100%;
        background-color: pink;
        border-radius: 8px;
        text-align: center;
        align-content: center;
      }
    }
  }
}
